In [3]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET 
import pandas as pd
from geopy.geocoders import Nominatim
import re

## Reading Data

In [37]:
dlrPitches = pd.read_csv('data/dlr-pitches.csv')

In [38]:
dccPitches = pd.read_csv('data/dccplayingpitchesp20120816-1550.csv')

In [53]:
xtree = ET.parse("data/fccplayingpitchesp20111203-1424.xml")
xroot = xtree.getroot()
cols = pd.Series(['FACILITY_TYPE','FACILITY_NAME','LOCATION','LAT','LONG'])
fccPitches = pd.DataFrame(columns = cols)
for node in xroot[0]: 
    ft = node.find("FACILITY_TYPE").text
    fn = node.find("FACILITY_NAME").text
    loc = node.find("LOCATION").text
    lat = node.find("LAT").text
    lo= node.find("LONG").text
    temp = [ft,fn,loc,lat,lo]
    fccPitches = fccPitches.append(pd.Series(temp, index = cols), ignore_index = True)

## Data Observation and Modelling

**We use [head] to take a look at the three data sources**

In [40]:
dlrPitches.head()

         Location Number Size   Latitude  Longitude
0  Kilbogget Park      1  Snr  53.257242  -6.140665
1             NaN      2  SSG  53.257614  -6.139882
2             NaN      3  SSG  53.257842  -6.139265
3             NaN      4  SSG  53.257098  -6.139094
4             NaN      5  SGG  53.256674  -6.140134

In [41]:
dlrPitches[dlrPitches.Location.isnull()].index.size

46

what is Number?

In [42]:
dlrPitches.Number.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', 'A', 'B',
       'All weather', '12', '13', '14', 'GAA A', 'GAA B', 'Soccer', 'GAA',
       'Temporary pitch', 'Rugby', ' GAA ', 'Location of future pitchs',
       'A ', nan], dtype=object)

In [19]:
dccPitches.head()

,PARK,AREA,CLUBNAME,LEAGUE,Unnamed: 4
0,ALBERT COLLEGE,NORTH WEST,DRUMCONDRA F.C (Snr),AMATEUR FOOTBALL LEAGUE,NaN
1,ALBERT COLLEGE,NORTH WEST,GLASNEVIN AFC,AMATEUR FOOTBALL LEAGUE,NaN
2,BEECHILL,SOUTH EAST,BALLSBRIDGE FC,AMATEUR FOOTBALL LEAGUE,NaN
3,BELCAMP,NORTH CENTRAL,NEWTOWN CELTIC,AMATEUR FOOTBALL LEAGUE,NaN
4,BELCAMP,NORTH CENTRAL,VIANNEY BOYS,AMATEUR FOOTBALL LEAGUE,NaN

In [52]:
fccPitches.head()

,Facility_Type,Facility_Name,Location,Lat,Long
0,All weather pitches,Balbriggan Town Park,Balbriggan,53.6049596246817,-6.18235291959051
1,All weather pitches,Balheary Reservoir,Swords,53.4727096370551,-6.22301521551813
2,All weather pitches,Town Park,Skerries,53.5771135903791,-6.11107205744599
3,All weather pitches,St. Mologa's Park,Balbriggan,53.6176672458903,-6.18936794084573
4,Basketball Court,Seagrange Park,None,53.3966674985382,-6.13535180348378

In [21]:
fccPitches.FACILITY_TYPE.unique()

array(['All weather pitches', 'Basketball Court', 'GAA Pitches',
       'Rugby Pitches', 'Seven-a-side', 'Soccer pitches', 'Tennis Courts'],
      dtype=object)

### Observations:
#### DLR
1. has many empty locations (46 out of 61) which are assumed from the previous row
2. column "Number" represents facility type >rename
3. we get more info about location using the coordinations

#### DCC 
1. has no coordinates > we use an outer source to get this info based on the location provided
2. content is all upper case > change to lower case
3. It is only for Soccer (football) pitches = Facility type

#### FCC
1. has coordinates and locations 

the three data sources have the name of the park in different ways (Location, Park, Facility Name)> 

1. In DCC change Park to Location
2. In FCC change the fields "location" to "Town & Lat, Long to latitude, longitude & Facitlity Name to Location
3. Lower case all columns names 

---------------------

### Modelling
Final data source will have the following columns:
* Location
* Latitude
* Longitude
* Address 
* Facility Type

extra field (not for everyone)
* Size
* Club Name
* League

### DLR

In [140]:
# DLR has many empty locations which are assumed from the previous row
enriched_dlr=pd.DataFrame(dlrPitches).fillna(method='ffill')
enriched_dlr.head()

         Location Number Size   Latitude  Longitude
0  Kilbogget Park      1  Snr  53.257242  -6.140665
1  Kilbogget Park      2  SSG  53.257614  -6.139882
2  Kilbogget Park      3  SSG  53.257842  -6.139265
3  Kilbogget Park      4  SSG  53.257098  -6.139094
4  Kilbogget Park      5  SGG  53.256674  -6.140134

In [141]:
#getting address info
enriched_dlr["cords"] = enriched_dlr["Latitude"].map(str) +","+ enriched_dlr["Longitude"].map(str)
enriched_dlr['Address']  = enriched_dlr["cords"].apply(lambda x:geolocator.reverse(x).address)

In [142]:
enriched_dlr.drop(columns="cords",inplace=True)

In [143]:
enriched_dlr.head()

,Location,Number,Size,Latitude,Longitude,Address
0,Kilbogget Park,1,Snr,53.257242,-6.140665,"Running track, Shanganagh Vale, Loughlinstown,..."
1,Kilbogget Park,2,SSG,53.257614,-6.139882,"Seapoint Rugby Club, Churchview Road, Kilbogge..."
2,Kilbogget Park,3,SSG,53.257842,-6.139265,"Seapoint Rugby Club, Churchview Road, Kilbogge..."
3,Kilbogget Park,4,SSG,53.257098,-6.139094,"63, Coolevin, Gleann na Sailí, Loughlinstown, ..."
4,Kilbogget Park,5,SGG,53.256674,-6.140134,"Running track, Shanganagh Vale, Loughlinstown,..."

In [145]:
# duplicates
enriched_dlr[enriched_dlr.duplicated(["Address","Size","Number"])]

,Location,Number,Size,Latitude,Longitude,Address
50,Sallynoggin,All weather,mini,53.273968,-6.144321,"Pearse Park, Thomastown, Dun Laoghaire-Sallyno..."
51,Sallynoggin,All weather,mini,53.273792,-6.144107,"Pearse Park, Thomastown, Dun Laoghaire-Sallyno..."

In [146]:
enriched_dlr.drop_duplicates(subset=["Address","Size","Number"],inplace=True)

In [147]:
enriched_dlr.rename(columns={"Number":"Facility_Type"},inplace=True)

### DCC

In [47]:
# DCC has no coordinates > we use an outer source to get this info based on the location provided

# remove empty field
enriched_dcc= pd.DataFrame(dccPitches.iloc[:, :-1])

# use Nominatim to get coordinates
geolocator = Nominatim()


# call geocode and get Latitude and longitude
# add Dublin Ireland to the location to prevent ambuguity
enriched_dcc['city_coord']  = enriched_dcc['PARK'].apply(lambda x:geolocator.geocode(x+",Dublin,Ireland")) 


enriched_dcc['Latitude'] = enriched_dcc['city_coord'].apply(lambda x:  x.latitude if x != None else 0)
enriched_dcc['Longitude'] = enriched_dcc['city_coord'].apply(lambda x:  x.longitude if x != None else 0)
enriched_dcc['Address'] = enriched_dcc['city_coord'].apply(lambda x:  x.address if x != None else 0)
#remove extra column city coord
enriched_dcc.drop(columns="city_coord",inplace=True)

/Users/suaddarra/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  import sys

In [76]:
enriched_dcc.drop(columns="AREA",inplace=True)

In [77]:
enriched_dcc.tail()

,Location,Clubname,League,Latitude,Longitude,Address,Facility_Type
245,Stannaway,Shielton Athletic F.C,United Churches Football League,53.32068665,-6.30068917285273,"Stannaway, Kimmage B Ed, Dublin 12, Dublin, Co...",Soccer
246,Walkinstown,Castle Celtic,United Churches Football League,53.3216133,-6.3301177,"Walkinstown, Walkinstown B Ed, Dublin 12, Dubl...",Soccer
247,St Annes,F.C Ailesbury Utd.,United Churches Football League/Amateur Footba...,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer
248,Belcamp,Sporting Metro F.C.,United Churches Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer
249,St Annes,Clontarf F.C (Seniors),United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer

**What locations were not found?**

In [891]:
enriched_dcc[enriched_dcc.Latitude==0]

,PARK,AREA,CLUBNAME,LEAGUE,Latitude,Longitude
29,FR. COLLINS,NORTH CENTRAL,WYTELEAF UNITED F.C.,AMATEUR FOOTBALL LEAGUE/ATHLETIC UNION LEAGUE,0.0,0.0
68,MC AULEY,NORTH CENTRAL,ST. BRENDANS UNITED,ATHLETIC UNION LEAGUE/ NORTH DUBLIN SCHOOLBO...,0.0,0.0
80,FR. COLLINS,NORTH CENTRAL,CLARE HALL CELTIC,DUBLIN DISTRICT SCHOOLBOYS LEAGUE,0.0,0.0
109,MC AULEY,NORTH CENTRAL,ST. PAULS ARTANE,"DUBLIN DISTRICT SCHOOLBOYS LEAGUE,,ATHLETIC UN...",0.0,0.0
111,FR. COLLINS,NORTH CENTRAL,TRINITY/DONAGHMEDE F.C.,"DUBLIN DISTRICT SCHOOLBOYS LEAGUE,LEINSTER SE...",0.0,0.0
129,FR. COLLINS,NORTHWEST,TRINITY GAELS,GAELIC ATHLETIC ASSOCIATION,0.0,0.0
208,FR. COLLINS,NORTH CENTRAL,MID SUTTON F.C,"NORTH DUBLIN SCHOOLBOYS LEAGUE,LEINSTER SENIOR...",0.0,0.0
227,FR. COLLINS,NORTH CENTRAL,SCHALKE ROVERS,UNITED CHURCHES FOOTBALL LEAGUE,0.0,0.0
239,FR. COLLINS,NORTH CENTRAL,SEAVIEW CELTIC,UNITED CHURCHES FOOTBALL LEAGUE,0.0,0.0

FR. COLLINS and MC AULEY

**Sanity Check for coordinates**

In [892]:
enriched_dcc.Latitude.unique()

array([53.3854709 , 53.3175917 , 53.4068274 , 53.4009603 , 53.3948612 ,
       53.36726325, 53.9863743 , 53.3410089 , 53.3563042 , 53.3977132 ,
       53.341944  , 53.2794678 , 53.3216133 ,  0.        , 53.31905805,
       53.361111  , 53.4223167 , 53.3840936 , 53.3380806 , 53.54157665,
       53.4040962 , 53.3358185 , 53.3829908 , 53.3898277 , 53.3981308 ,
       53.40234405, 53.5850302 , 53.3628457 , 53.3320387 , 53.3201888 ,
       53.3021198 , 53.3857502 , 53.3719591 , 53.32068665, 53.2475659 ,
       53.3210024 , 53.3803639 , 53.333914  , 53.2748878 , 53.3746929 ,
       53.386264  , 53.3870122 , 53.40424065, 53.3344399 , 53.3392107 ,
       53.34347825, 53.3099564 , 53.3337263 , 53.3276869 , 53.394585  ,
       53.3870818 , 53.3735101 , 53.38171705, 53.4020707 , 53.3663095 ,
       53.3989894 , 53.29428765, 53.38606505, 53.3854698 , 53.309439  ,
       53.32998585])

In [893]:
enriched_dcc.Longitude.unique()

array([-6.26080915, -6.2330531 , -6.19692619, -6.19403178, -6.1635775 ,
       -6.30703593, -7.3188437 , -6.3400557 , -6.2289594 , -6.2225083 ,
       -6.226389  , -6.1707722 , -6.3301177 ,  0.        , -6.23539136,
       -6.2279928 , -6.26304854, -6.3003502 , -6.2221223 , -6.22770963,
       -6.31930216, -6.3541441 , -6.1889192 , -6.3068943 , -6.3120612 ,
       -6.28712461, -6.2888697 , -6.2366557 , -6.3033135 , -6.3260332 ,
       -6.29144609, -6.24044189, -6.3322962 , -6.30068917, -6.1202158 ,
       -6.29130368, -6.28746076, -6.3183767 , -6.1425269 , -6.2197423 ,
       -6.18738019, -6.1888673 , -6.2726355 , -6.3044476 , -6.2164504 ,
       -6.32916531, -6.2631069 , -6.29534399, -6.23656997, -6.225759  ,
       -6.2180884 , -6.310396  , -6.24575159, -6.2053385 , -6.2347491 ,
       -6.3114986 , -6.17281714, -6.15047013, -6.1603965 , -6.2107616 ,
       -6.27618443])

Values look in range 53 and -6 which looks good

In [67]:
## add facility type as Soccer
enriched_dcc["Facility_Type"] = "Soccer"
# DCC content is all upper case > change to lower case
enriched_dcc = enriched_dcc.apply(lambda x: x.astype(str).str.title())
#change columns names to lower case
enriched_dcc.columns = map(str.title, enriched_dcc.columns)
# change all names into Location, and change the field "location" in FCC to "Town"
enriched_dcc.rename(columns={"Park":"Location"},inplace=True)

In [54]:
#getting address info for fcc
enriched_fcc= pd.DataFrame(fccPitches)

enriched_fcc["cords"] = enriched_fcc["LAT"].map(str) +","+ enriched_fcc["LONG"].map(str)
enriched_fcc['Address']  = enriched_fcc["cords"].apply(lambda x:geolocator.reverse(x).address)

In [ ]:
enriched_fcc.drop(columns="cords",inplace=True)
enriched_fcc.drop(columns="Location",inplace=True)

In [152]:
enriched_fcc['Facility_Type']= enriched_fcc['Facility_Type'].apply(lambda x: x.replace('pitches',''))
enriched_fcc['Facility_Type']= enriched_fcc['Facility_Type'].apply(lambda x: x.replace('Pitches',''))

In [153]:
enriched_fcc.head()

,Facility_Type,Location,Latitude,Longitude,Address
0,All weather,Balbriggan Town Park,53.6049596246817,-6.18235291959051,"Glebe North Football Club, Market Green, Balbr..."
1,All weather,Balheary Reservoir,53.4727096370551,-6.22301521551813,"Swords celtic all weather pitch, Balheary Road..."
2,All weather,Town Park,53.5771135903791,-6.11107205744599,"The Kybe, Beau Piers, Townparks, Skerries ED, ..."
3,All weather,St. Mologa's Park,53.6176672458903,-6.18936794084573,"St. Molaga's National School, Lambeecher, Tank..."
4,Basketball Court,Seagrange Park,53.3966674985382,-6.13535180348378,"Progressive Credit Union, Grange Road, Baldoyl..."

In [158]:
#duplicates
enriched_fcc[enriched_fcc.duplicated(["Location","Facility_Type"])]

,Facility_Type,Location,Latitude,Longitude,Address
11,GAA,Balheary Park,53.4660349552282,-6.21611968889385,"Balheary pitch 1, Lissenhall Road, Balheary De..."
12,GAA,Balheary Park,53.467348630642,-6.21538771007825,"Balheary pitch 2, Lissenhall Road, Balheary De..."
14,GAA,Hartstown Park,53.3953231958123,-6.41292838835715,"Hartstown Community School, Hartstown Road, Ha..."
33,Seven-a-side,Hartstown Park,53.3963384827422,-6.41292397066233,"Blakestown, Blanchardstown-Blakestown ED, Clon..."
34,Seven-a-side,Hartstown Park,53.3962424394402,-6.41037074601988,"Blakestown, Blanchardstown-Blakestown ED, Dubl..."
37,Seven-a-side,St. Mologa's Park,53.6156257951025,-6.18391354720681,"Lifeboat House, Baths Road, Tankardstown, Balb..."
44,Soccer,Balbriggan Town Park,53.604642797328,-6.18133609646353,"Glebe North Football Club, Market Green, Balbr..."
47,Soccer,Newbridge Demesne,53.4898838481802,-6.17645552041318,"Cricket Ground, Hearse Road, Newbridge Demesne..."
48,Soccer,Newbridge Demesne,53.4892921655101,-6.17685013930942,"Donabate Catholic Parish, Cobbs Lane, Lanestow..."
49,Soccer,Newbridge Demesne,53.4886223910085,-6.17706018664759,"Newbridge Demesne, Donabate ED, Donabate, Fing..."
55,Soccer,St. Catherine's Park,53.5385517841112,-6.09769692154911,"Saint Catherine's Crescent, Rush Demesne, Rush..."
59,Soccer,Balheary Park,53.4692562248938,-6.21393312690765,"Tigín Montessori School, Lissenhall Road, Balh..."
61,Soccer,Balheary Reservoir,53.4727532143964,-6.22437816202542,"Swords Celtic pitch 2, Balheary Road, Newtown,..."
62,Soccer,Balheary Reservoir,53.4729304703839,-6.22727355091584,"Swords Celtic pitch 1, Newtown Cottages, Newto..."
65,Soccer,Hartstown Park,53.3944687820642,-6.41258990537217,"Oakview Park, Hartstown, Blanchardstown-Blakes..."
67,Soccer,Mourne View,53.5805331308631,-6.12498779672751,"1, Mourne Place, Townparks, Skerries ED, Skerr..."
80,Soccer,St. Mologa's Park,53.6166955300167,-6.18816813012173,"St. Molaga's National School, Lambeecher, Tank..."
84,Soccer,Seagrange Park,53.3950396442173,-6.1358101939479,"Seagrange Drive, Baldoyle, Baldoyle ED, Dublin..."
85,Soccer,Seagrange Park,53.3923690428337,-6.13478697030993,"Track Side Tennis Club, Seacliff Avenue, Kilba..."
91,GAA,St. Catherines,53.3711170322279,-6.46750304531701,"Lucan Registrars District 1885, Royal Canal Wa..."

In [ ]:
#change columns names to lower case
enriched_fcc.columns = map(str.title, fccPitches.columns)

In [124]:
#remove duplicates
enriched_fcc.drop_duplicates(subset=["Address","Facility_Type"],inplace=True)

In [65]:

enriched_fcc.rename(columns={"Lat":"Latitude","Long":"Longitude"},inplace=True)

In [66]:
enriched_fcc.rename(columns={"Facility_Name":"Location"},inplace=True)

## Final DATA Model

In [129]:
final_df= pd.concat([enriched_dcc,enriched_dlr,enriched_fcc],
                    names=["Location","Latitude","Longitude","Size","Club_Name","League","Facility_Type"]
                   ,sort=False,ignore_index=True)

In [130]:
final_df.head()

,Location,Clubname,League,Latitude,Longitude,Address,Facility_Type,Size
0,Albert College,Drumcondra F.C (Snr),Amateur Football League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,NaN
1,Albert College,Glasnevin Afc,Amateur Football League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,NaN
2,Beechill,Ballsbridge Fc,Amateur Football League,53.3175917,-6.2330531,"Beechill Ave (Beaver Row), Beech Hill Estate, ...",Soccer,NaN
3,Belcamp,Newtown Celtic,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
4,Belcamp,Vianney Boys,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN

## Data Quality

### Finding Duplicates

In [132]:
final_df[final_df.duplicated(subset=["Address","Facility_Type","Size"])]

,Location,Clubname,League,Latitude,Longitude,Address,Facility_Type,Size
1,Albert College,Glasnevin Afc,Amateur Football League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,NaN
4,Belcamp,Vianney Boys,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
5,Belcamp,Priorswood F.C Seniors,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
6,Belcamp,Whites F.C,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
7,Belcamp,Urban Celtic,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
8,Belcamp,Clonshaugh Sporting Suazee,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
13,Kilmore,Vianney Boys,Amateur Football League,54.40024675,-6.55048274536792,"Kilmore, Armagh, County Armagh, Northern Irela...",Soccer,NaN
18,Ringsend,Irishtown F.C.,Amateur Football League,53.341944,-6.226389,"Ringsend, Pembroke East A Ed, Dublin 4, Dublin...",Soccer,NaN
20,St Annes,Chanel Sports & Social Club,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
21,St Annes,Marino Athletic,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
22,St Annes,Kansas City Shufflers,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
23,St Annes,Smithfield F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
24,St Annes,Celtic Park Fc,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
25,St Annes,St. Gabriels F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
26,St Annes,Bacchus F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
27,St Annes,Shelbourne Sports & Social Club,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
29,Fr. Collins,Wyteleaf United F.C.,Amateur Football League/Athletic Union League,0.0,0.0,0,Soccer,NaN
31,Albert College,Greenfield Park Boys F.C,Athletic Union League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,NaN
34,Darndale,Darndale Rovers,Athletic Union League,53.4009603,-6.19403177988914,"Darndale, Priorswood C Ed, Dublin 17, Dublin, ...",Soccer,NaN
35,Donaghmede,Cardonagh A.F.C,Athletic Union League,53.3948612,-6.1635775,"Donaghmede, Grange C Ed, Dublin 13, Dublin, Co...",Soccer,NaN
38,John Paul,Broombridge Utd,Athletic Union League,53.3631256,-6.2361861,"John Paul Photography Ltd, 9, Fairview, Ballyb...",Soccer,NaN
42,Le Fanu,V.O.F.C,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,NaN
43,Le Fanu,Ballyfermot Football Club,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,NaN
44,Le Fanu,Clifden Celtic,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,NaN
45,Le Fanu,Raheen Celtic,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,NaN
47,Markievicz,Landen Utd,Athletic Union League,53.3410089,-6.34005570272641,"Markievicz Park, Ballyfermot Lower, Decies Ed,...",Soccer,NaN
49,Mellowes,Finglas Wanderers F.C,Athletic Union League,53.3898277,-6.3068943,"Mellowes Road, Cardiffscastle, Finglas North B...",Soccer,NaN
50,Millbrook,Ayrfield United,Athletic Union League,53.31905805,-6.23539135743444,"Millbrook, 29, Eglinton Road, Donnybrook East,...",Soccer,NaN
51,Oscar Traynor,Shamrock Celtic F.C.,Athletic Union League,53.3977132,-6.2225083,"Oscar Traynor Road, Kilmore Big, Kilmore B Ed,...",Soccer,NaN
54,Poppintree,Belclare Celtic,Athletic Union League,53.40234405,-6.28712461437514,"Poppintree (Finglas), Ballymun A Ed, Dublin 11...",Soccer,NaN
...,...,...,...,...,...,...,...,...
220,Brickfields,K.C.R Utd.,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
221,Brickfields,Booterstown United F.C.,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
222,Brickfields,Riverside United,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
223,Brickfields,Lower Crumlin F.C.,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
224,Bushy,Terenure College Afc,United Churches Football League,53.3021198,-6.29144609073588,"Bushy Park, Terenure, Terenure D Ed, Dublin 6W...",Soccer,NaN
225,Bushy,Sandford Athletic,United Churches Football League,53.3021198,-6.29144609073588,"Bushy Park, Terenure, Terenure D Ed, Dublin 6W...",Soccer,NaN
226,Farnham,Francis A.F.C.,United Churches Football League,53.3840936,-6.3003502,"Farnham Drive, Finglas East, Finglas South B E...",Soccer,NaN
227,Fr. Collins,Schalke Rovers,United Churches Football League,0.0,0.0,0,Soccer,NaN
228,Herbert,Harding F.C.,United Churches Football League,53.3276869,-6.23656997033567,"Herbert Park, Forty Acres, Pembroke West B Ed,...",Soccer,NaN
229,Johnstown,Glasnaion F.C,United Churches Football League,53.54157665,-6.22770962799422,"Johnstown, Lusk Ed, Ballyboughal, Fingal, Coun...",Soccer,NaN
230,St Annes,Strand United A.F.C.,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
231,St Annes,Dollymount Fc Seniors,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
232,St Annes,Schalke Rovers,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
233,St Annes,St Annes United,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
234,Brickfields,Central F.C,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
235,Brickfields,Rialto Madrid,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
236,Brickfields,Afc Justice,United Churches Football League,53.3320387,-6.3033135,"Keeper Road, Brickfields Road, Keeper Road, Do...",Soccer,NaN
237,Donaghmede,Seaview Celtic,United Churches Football League,53.3948612,-6.1635775,"Donaghmede, Grange C Ed, Dublin 13, Dublin, Co...",Soccer,NaN
238,Farnham,Amber Celtic,United Churches Football League,53.3840936,-6.3003502,"Farnham Drive, Finglas East, Finglas South B E...",Soccer,NaN
239,Fr. Collins,Seaview Celtic,United Churches Football League,0.0,0.0,0,Soccer,NaN
240,Le Fanu,Chapelizod F.C.,United Churches Football League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,NaN
241,St Annes,San Marino,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
242,St Annes,Conwell Rovers,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
243,St Annes,Clontarf Athletic,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
244,St Annes,White Star Rovers,United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
245,Stannaway,Shielton Athletic F.C,United Churches Football League,53.32068665,-6.30068917285273,"Stannaway, Kimmage B Ed, Dublin 12, Dublin, Co...",Soccer,NaN
246,Walkinstown,Castle Celtic,United Churches Football League,53.3216133,-6.3301177,"Walkinstown, Walkinstown B Ed, Dublin 12, Dubl...",Soccer,NaN
247,St Annes,F.C Ailesbury Utd.,United Churches Football League/Amateur Footba...,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN
248,Belcamp,Sporting Metro F.C.,United Churches Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,NaN
249,St Annes,Clontarf F.C (Seniors),United Churches Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,NaN

### Do we care about Clubnames?

### Checking for null values

In [133]:
final_df.isna().any()

Location         False
Clubname          True
League            True
Latitude         False
Longitude        False
Address          False
Facility_Type    False
Size              True
dtype: bool

we have null values in the extra fields but not in Location, Latitude, Longitude

### Remove White Spaces

we take a look at Locations since it is the most important field

In [137]:
final_df.sort_values(by="Location").Location.unique()

array(['Albert College', 'Alfie Byrne', 'Ardmore', 'Ashington',
       'Balbriggan Town Park', 'Balcurris Park', 'Balheary Park',
       'Balheary Reservoir', 'Ball Alley/Remount', 'Ballist Pit',
       'Balrothery Park', 'Bayside School', 'Beechill', 'Belcamp',
       'Benmadigan', 'Brickfields', 'Broomfiled', 'Bunting Road', 'Bushy',
       'Carrickhill Park', 'Cherry Orchard', 'Clonturk', 'Coolmine Park',
       'Corballis Road', 'Corduff Park', 'Coultry', 'Craoibhinn Park',
       "Danny's Pitches", 'Darndale', 'Dartry', 'Dolphin', 'Donaghmede',
       'Donnycarney', 'Dundaniel', 'Dunedin (jun)', 'Edenmore',
       'Ellenfield', 'Fairview', 'Farnham', 'Fr. Collins', 'Galtymore',
       'Glin Road', "Grace O'Malley Park", 'Greendale', 'Hartstown Park',
       'Hazelbury Park', 'Herbert', 'Holly Park', 'Hundson Road',
       'Hunters Run/lLittlep', 'Hyde Park', 'Irishtown', 'John Paul',
       'Johnstown', 'Kilbogget Park', 'Kildonan', 'Kilmore',
       "Lady's Well Park", 'Laurel Lodge', 'Le Fanu', 'Lein Road',
       'Loughlinstown Park', 'Malahide Demesne', 'Marino', 'Markievicz',
       'Martin Savage', 'Mc Auley', 'Meadowvale', 'Mellowes', 'Millbrook',
       'Mount Albany', 'Mount Olive', 'Mountview Park', 'Mourne View',
       'Naul', 'Newbridge Demesne', 'Northway', 'Oscar Traynor',
       'Parslickstown', 'Pearse Park', 'Pinewood', 'Plunkett Avenue',
       'Poppintree', 'Poppintree North', 'Porterstown Park', 'Ringsend',
       'Robswall', 'Rockfield', 'Rockfield Park(NTPL)', 'Roseglen',
       'Sallynoggin', 'Seabury', 'Seagrange Park', 'Sean Moore',
       'Shanganagh Cliffs', 'Shanganagh Park', 'Skerries Town Park',
       'Soldiers & Sailors', 'Springdale', 'St. Annes',
       "St. Catherine's Park", "St. Mologa's Park", 'Stannaway',
       'Streamville', 'Sundrive', 'Swords Manor', 'The Ranch',
       'Thomastown Road', 'Tolka Valley', 'Town Park', 'Walkinstown',
       'Ward River Valley', 'Woodbine Ave'], dtype=object)

we notice white spaces in the fields so we remove that

In [135]:
final_df =final_df.apply(lambda x: x.astype(str).str.strip())
final_df = final_df.replace(' +', ' ',regex=True).astype(str)

we notice several typos like:
    - 'Newbridge Demense', 'Newbridge Demesne'
    - 'St Annes', 'St. Annes'
    - "St. Catherine's Park", 'St. Catherines'
    - "St. Molaga's Park", "St. Mologa's Park"
so we unite that.

In [136]:
final_df.loc[final_df['Location'] =='Newbridge Demense', 'Location'] = 'Newbridge Demesne'
final_df.loc[final_df['Location'] =='St Annes', 'Location'] = 'St. Annes'
final_df.loc[final_df['Location'] =='St. Catherines', 'Location']  = 'St. Catherine\'s Park'
final_df.loc[final_df['Location'] =='St. Molaga\'s Park', 'Location']  = 'St. Mologa\'s Park'

In [138]:
final_df =final_df.apply(lambda x: x.astype(str).str.strip())

,Location,Clubname,League,Latitude,Longitude,Address,Facility_Type,Size
1,Albert College,Glasnevin Afc,Amateur Football League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,nan
4,Belcamp,Vianney Boys,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,nan
5,Belcamp,Priorswood F.C Seniors,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,nan
6,Belcamp,Whites F.C,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,nan
7,Belcamp,Urban Celtic,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,nan
8,Belcamp,Clonshaugh Sporting Suazee,Amateur Football League,53.4068274,-6.19692618719913,"Belcamp, Priorswood B Ed, Dublin 17, Dublin, C...",Soccer,nan
13,Kilmore,Vianney Boys,Amateur Football League,54.40024675,-6.55048274536792,"Kilmore, Armagh, County Armagh, Northern Irela...",Soccer,nan
18,Ringsend,Irishtown F.C.,Amateur Football League,53.341944,-6.226389,"Ringsend, Pembroke East A Ed, Dublin 4, Dublin...",Soccer,nan
20,St. Annes,Chanel Sports & Social Club,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
21,St. Annes,Marino Athletic,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
22,St. Annes,Kansas City Shufflers,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
23,St. Annes,Smithfield F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
24,St. Annes,Celtic Park Fc,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
25,St. Annes,St. Gabriels F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
26,St. Annes,Bacchus F.C.,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
27,St. Annes,Shelbourne Sports & Social Club,Amateur Football League,53.2651078,-6.3609563,"Saint Anne'S, Bohernabreena Ed, Dublin 24, Sou...",Soccer,nan
31,Albert College,Greenfield Park Boys F.C,Athletic Union League,53.3854709,-6.26080914918107,"Albert College (A), Albert College Avenue, Alb...",Soccer,nan
34,Darndale,Darndale Rovers,Athletic Union League,53.4009603,-6.19403177988914,"Darndale, Priorswood C Ed, Dublin 17, Dublin, ...",Soccer,nan
35,Donaghmede,Cardonagh A.F.C,Athletic Union League,53.3948612,-6.1635775,"Donaghmede, Grange C Ed, Dublin 13, Dublin, Co...",Soccer,nan
38,John Paul,Broombridge Utd,Athletic Union League,53.3631256,-6.2361861,"John Paul Photography Ltd, 9, Fairview, Ballyb...",Soccer,nan
42,Le Fanu,V.O.F.C,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,nan
43,Le Fanu,Ballyfermot Football Club,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,nan
44,Le Fanu,Clifden Celtic,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,nan
45,Le Fanu,Raheen Celtic,Athletic Union League,53.3358185,-6.3541441,"Le Fanu Bridge, Ballyfermot Lower, Kylemore Ed...",Soccer,nan
47,Markievicz,Landen Utd,Athletic Union League,53.3410089,-6.34005570272641,"Markievicz Park, Ballyfermot Lower, Decies Ed,...",Soccer,nan
49,Mellowes,Finglas Wanderers F.C,Athletic Union League,53.3898277,-6.3068943,"Mellowes Road, Cardiffscastle, Finglas North B...",Soccer,nan
50,Millbrook,Ayrfield United,Athletic Union League,53.31905805,-6.23539135743444,"Millbrook, 29, Eglinton Road, Donnybrook East,...",Soccer,nan
51,Oscar Traynor,Shamrock Celtic F.C.,Athletic Union League,53.3977132,-6.2225083,"Oscar Traynor Road, Kilmore Big, Kilmore B Ed,...",Soccer,nan
54,Poppintree,Belclare Celtic,Athletic Union League,53.40234405,-6.28712461437514,"Poppintree (Finglas), Ballymun A Ed, Dublin 11...",Soccer,nan
55,Ringsend,Markievicz Celtic F.C.,Athletic Union League,53.341944,-6.226389,"Ringsend, Pembroke East A Ed, Dublin 4, Dublin...",Soccer,nan
...,...,...,...,...,...,...,...,...
337,St. Catherine's Park,nan,nan,53.3659085701132,-6.46947109846945,"St. Catherine's Park (Fingal), Lucan North ED,...",Seven-a-side,nan
338,Balbriggan Town Park,nan,nan,53.6036899774124,-6.18138459670146,"Balbriggan Cricket Club, Balbriggan Inner Reli...",Soccer pitches,nan
339,Balbriggan Town Park,nan,nan,53.604642797328,-6.18133609646353,"Glebe North Football Club, Market Green, Balbr...",Soccer pitches,nan
342,Newbridge Demesne,nan,nan,53.4898838481802,-6.17645552041318,"Cricket Ground, Hearse Road, Newbridge Demesne...",Soccer pitches,nan
343,Newbridge Demesne,nan,nan,53.4892921655101,-6.17685013930942,"Donabate Catholic Parish, Cobbs Lane, Lanestow...",Soccer pitches,nan
344,Newbridge Demesne,nan,nan,53.4886223910085,-6.17706018664759,"Newbridge Demesne, Donabate ED, Donabate, Fing...",Soccer pitches,nan
346,St. Catherine's Park,nan,nan,53.5390290099585,-6.09337811422159,"Skerries Road, Carnhill, Rush ED, Rush, Fingal...",Soccer pitches,nan
347,St. Catherine's Park,nan,nan,53.5385517841112,-6.09769692154911,"Saint Catherine's Crescent, Rush Demesne, Rush...",Soccer pitches,nan
348,Swords Manor,nan,nan,53.4590387364441,-6.25115272940777,"Brackenstown Road, Mooretown, Swords-Glasmore ...",Soccer pitches,nan
349,Ward River Valley,nan,nan,53.455855532962,-6.2448869208849,"soccer pitch, Brookdale Lawns, Brookdale, Hill...",Soccer pitches,nan
350,Balheary Park,nan,nan,53.4684264557609,-6.21460533218805,"Lissenhall Road, Balheary Demesne, Swords Vill...",Soccer pitches,nan
351,Balheary Park,nan,nan,53.4692562248938,-6.21393312690765,"Tigín Montessori School, Lissenhall Road, Balh...",Soccer pitches,nan
352,Balheary Reservoir,nan,nan,53.4722086332706,-6.22455060320527,"Swords Celtic pitch 3, Balheary Road, Newtown,...",Soccer pitches,nan
353,Balheary Reservoir,nan,nan,53.4727532143964,-6.22437816202542,"Swords Celtic pitch 2, Balheary Road, Newtown,...",Soccer pitches,nan
354,Balheary Reservoir,nan,nan,53.4729304703839,-6.22727355091584,"Swords Celtic pitch 1, Newtown Cottages, Newto...",Soccer pitches,nan
355,Hartstown Park,nan,nan,53.3957998908194,-6.41371466277525,"Hartstown Community School, Hartstown Road, Ha...",Soccer pitches,nan
356,Hartstown Park,nan,nan,53.3944687820642,-6.41258990537217,"Oakview Park, Hartstown, Blanchardstown-Blakes...",Soccer pitches,nan
358,Mourne View,nan,nan,53.5805331308631,-6.12498779672751,"1, Mourne Place, Townparks, Skerries ED, Skerr...",Soccer pitches,nan
359,Town Park,nan,nan,53.5756675954932,-6.1079062121554,"The Kybe, Beau Piers, Townparks, Skerries ED, ...",Soccer pitches,nan
361,Mountview Park,nan,nan,53.3889597054201,-6.40701737101347,"Saint Philip's National Schools, Mountview Roa...",Soccer pitches,nan
366,Grace O'Malley Park,nan,nan,53.3850343852821,-6.06851225756661,"Howth Primary School, Scoil Mhuire, Tuckett's ...",Soccer pitches,nan
369,St. Mologa's Park,nan,nan,53.6170745642375,-6.18693504548687,"Lambeecher, Tankardstown, Balbriggan Urban ED,...",Soccer pitches,nan
370,St. Mologa's Park,nan,nan,53.6166955300167,-6.18816813012173,"St. Molaga's National School, Lambeecher, Tank...",Soccer pitches,nan
372,Seagrange Park,nan,nan,53.3960183001863,-6.13543658163634,"Seagrange Avenue, Baldoyle, Baldoyle ED, Dubli...",Soccer pitches,nan
373,Seagrange Park,nan,nan,53.3950396442173,-6.1358101939479,"Seagrange Drive, Baldoyle, Baldoyle ED, Dublin...",Soccer pitches,nan
374,Seagrange Park,nan,nan,53.3923690428337,-6.13478697030993,"Track Side Tennis Club, Seacliff Avenue, Kilba...",Soccer pitches,nan
376,St. Catherine's Park,nan,nan,53.3667576285142,-6.47043430357714,"St. Catherine's Park (Fingal), Lucan North ED,...",Soccer pitches,nan
377,Seagrange Park,nan,nan,53.3924305120341,-6.13627665607428,"Track Side Tennis Club, Seacliff Avenue, Kilba...",Tennis Courts,nan
378,St. Catherine's Park,nan,nan,53.3711170322279,-6.46750304531701,"Lucan Registrars District 1885, Royal Canal Wa...",GAA Pitches,nan
382,Balheary Reservoir,nan,nan,53.47199227978,-6.22303389154358,"Swords Celtic pitch 4, Balheary Road, Newtown,...",Soccer pitches,nan

In [588]:
#install for location 
! pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/a8/5c/ca78a17b2c6fe1179e9221c9280bb5d8caaf048a631ed72caed40c52de24/geopy-1.18.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 894kB/s a 0:00:011
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Running setup.py bdist_wheel for geographiclib ... done
  Stored in directory: /Users/suaddarra/Library/Caches/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.18.1